<p>Dear <%= @user.username %>,</p>

<p>This is just a reminder mail. You are important to us. Kindly chec out the new products in the website.</p>
<%=link_to "Go to account", @url, class:"navbar-item" %> 

<p>Yours truly,</p>
<p>Saptaswaram</p>