<p>Dear <%= @user.username %>,</p>

<p>Welcome to our store. Have fun purchasing the instruments. You also have the option to sell your used instruments. Kindly contact helpdesk in case you have any issues</p>
<%=link_to "Go to account", @url, class:"navbar-item" %> 

<p>Yours truly,</p>
<p>Saptaswaram</p>