<hr/>
<section class="section">
  <%#= render(@cart.line_items) %>
  <%#= nil.check %>

  <div class="columns">
        <span class="f5 has-text-grey">Order has been placed successfully</span> 
  </div>
</section>